@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;900&display=swap');

.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 10);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
  max-width: rem(700px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: --mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.description {
  font-size: rem(24px);
}

.title {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: rem(52px);
  line-height: 1.2;

  @media (max-width: --mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.control {
  @media (max-width: --mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: rem(376px);
  height: rem(356px);

  @media (max-width: --mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}
