/* Existing styles */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;900&display=swap');

.inner {
  padding-top: calc(var(--mantine-spacing-xl) * 5);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

@media (max-width: 900px) {
  .inner {
    padding-top: calc(var(--mantine-spacing-xl) * 7);
  }
}

@media (max-width: 600px) {
  .inner {
    padding-top: calc(var(--mantine-spacing-xl) * 4);
  }
}

.title {
  font-size: 48px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
  margin-bottom: --mantine-breakpoint-md;
}

@media (max-width: 900px) {
  .title {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 22px;
  }
}

.description {
  max-width: 600px;
  margin: auto;

  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  border: 2px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}
